*
{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    color: white;
    list-style:none;
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
body
{
    background: #f5f6fa;
}
.container .sidebar
{
    background:rgb(5, 68, 104);
    position: fixed;
    top:0;
    left:0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    font-weight:600;
    letter-spacing:1px;
    transition:all 300ms ease;
    

}

.container .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}
.container .sidebar .profile img{
    display: block;
    width:100px;
    height:100px ;
    border-radius:50%;
    margin: 0px auto;
}
.container .sidebar .profile h2{
    color: #ffff;
    margin: 10px 5px;
}
.container ul
{
    background:rgb(5, 68, 104);
    width: 225px;
    height: 100%
}
.container ul li{
    line-height: 50px;
    border-bottom:1px solid grey;
}
.container ul li a{
    position: relative;
    display: block;
    font-size: 18px;
    padding-left:40px;
    font-weight: 500;
    width: 100%;
    border-left: 3px solid transparent;
}
.container ul li a:hover{
    color:cyan;
    background: #1e1e1e;
    border-left-color:cyan ;
    
}
.container ul ul{
    position:static;
    display: none;
}
.container ul .feat-show.show{
    display:block;
}
.container ul .feat-show.show1{
    display:block;
}
.container ul ul li{
    line-height:40px;
    border-bottom:none;
    display: none;
}
.container ul ul li a{
    font-size:  17px;
    color:#e6e6e6;
    padding-left:80px

}
.container ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size:22px;
    transition:transform 0.4s;
}
.container ul li a:hover span{
    transform: translateY(-50%) rotate(-180deg);
}